{% extends "index.html" %}

{% block mycontent %}

{% comment %} <script type="text/javascript">
    function checkpassword()
    {
        if(document.changePassword.newpassword.value!=document.changePassword.confirmpassword.value)
        {
            alert('New password And Confirm Password filed does not match');
            document.changePassword.confirmpassword.focus();
            return false;
        }
        return true;
    } {% endcomment %}

</script>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title">Change Password</h1>
          </div>
          <div class="card-body">
            <form class="custom-form" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="currentpassword" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="currentpassword" name="currentpassword" / required>
              </div>
              <div class="mb-3">
                <label for="newpassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newpassword" name="newpassword" required />
              </div>
              <div class="mb-3">
                <label for="confirmpassword" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" required/>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Change Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% if error == "no" %}
<script>
    alert('Password Updated successfully');
    {% comment %} window.location = ('{% url '' %}'); {% endcomment %}
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something Went Wrong, your password and confirm password are not same');  

</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your current password is wrong, try Again...');  

</script>
{% endif %}

{% endblock %}