{% extends 'index.html' %}

{% block mycontent %}

<style>
  h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
  }

  h2 {
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid green;
  }

  p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: justify;

  }

  div>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
</style>

<div class="container">
  <h2 class="text-secondry p-2 text-left fs-1">
    Contact us
  </h2>

  <div class="row text-center">
    <div class="col-sm-12 p-2">
      <div class="mb-3 Contact_us">
        <h3 class="Contact_us">
          Contact Information:
        </h3>
        <address>
          Headquarters:
          Olive Pvt Ltd,
          SG Highway, Thaltej
          Ahmedabad, India
        </address>
      </div>

      <div class="employee_Support">
        <h3>Employee Support:</h3>
        <p>
          For immediate assistance, our dedicated employee support team is ready to help. Contact us at:
          <a href="mail to: 'vikaskumarprajapati734@gmail.com'">vikaskumarprajapati734@gmail.com</a>
        </p>
      </div>

      <div class="text-left">
        <h3>Connect With Us:</h3>
        <p>
          Stay up-to-date with our latest news, insights, and updates by following us on social media:
        </p>
        <a href="#"><i class="fa-brands fa-instagram mx-3"></i>Instagram</a>
        <a href="#"><i class="fa-brands fa-facebook mx-3"></i>Facebook</a>
        <a href="#"><i class="fa-brands fa-linkedin mx-3"></i>Linkdien</a>
        <a href="#"><i class="fa-brands fa-twitter mx-3"></i>Twiter</a>
      </div>

      <div class="text-left">
        <h3 class="mt-5">Get in Touch Today:</h3>
        <p>
          Your opinions matter to us, and we're eager to assist you. Whether you're seeking information, support, or collaboration, we're here to make your experience with Olive Pvt Ltd exceptional. Feel free to use the contact details provided above or use the form below to send us a message. We'll respond promptly and ensure your needs are met.

        <p class="fs-10">
          Olive Pvt Ltd - Nurturing Insights, Empowering Growth.
        </p>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}