{% extends 'index.html' %}

{% block mycontent %}

<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="font-family:Times New Roman; color:white;">© 2022 Copyright:
      <a href="/">smarthr.dreamguystech.com</a><br>
      <a style="color: blue;" href="https://www.facebook.com/profile.php?id=100069856389899" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
  
  <!-- Twitter -->
  <a style="color: #55acee;" href="https://twitter.com/HR_Solution_?t=9hBADH9h9kPPsJAbifNNug&amp;s=09" role="button"><i class="fab fa-twitter fa-lg"></i></a>
  
  <!-- Google -->
  <a style="color: red;" href="http://127.0.0.1:8000/" role="button"><i class="fab fa-google fa-lg"></i></a>
  
  <!-- Instagram -->
  <a style="color: pink;" href="https://www.instagram.com/hr._.solution/?utm_medium=copy_link" role="button"><i class="fab fa-instagram fa-lg"></i></a>
  
  <!-- Whatsap -->
  <a style="color: darkred;" href="https://wa.me/message/5KZJSJUJTHIJB1" role="button"><i class="fab fa-whatsapp"></i></a>
    </div>
    <!-- Copyright -->
  
  </footer>

{% endblock %}


